import technology from "../../technology/common.technologyy" as java
import datatypes from "../domain/map-service-domain.data" as map
@technology(java)
@sync(java::_protocols.rest)
@endpoints(
    java::_protocols.rest: "/api/v1", "/map"
)
architecture functional microservice com.DevMatrix.MapService {

    interface LocationManagement {

        ---
        Get all stored locations.
        ---
         @endpoints(java::_protocols.rest: "/locations";)
          @Spring::_aspects.GetMapping
        getAllLocations(
            @Spring::_aspects.ResponseEntity
            sync out locations : map::v1.MapService.Locations
        );

        ---
        Get all locations by zip code.
        @required zipCode the zip code to filter
        ---
        @endpoints(java::_protocols.rest: "/zipcode/{zipCode}";)
         @Spring::_aspects.GetMapping
        getAllByZipCode(
            @Spring::_aspects.PathVariable
            sync in zipCode : int,
            @Spring::_aspects.ResponseEntity
            sync out locations : map::v1.MapService.Locations
        );

        ---
        Create or retrieve location by station ID.
        @required locationData data used to fetch location
        ---
        @endpoints(java::_protocols.rest: "/location/";)
         @Spring::_aspects.GetMapping
        createLocation(
            @Spring::_aspects.RequestBody
            sync in locationData : map::v1.MapService.LocationCreation,
            @Spring::_aspects.ResponseEntity
            sync out location : map::v1.MapService.Location
        );

        ---
        Update location by station ID.
        @required stationId the station identifier
        @required locationData new location data
        ---
        @endpoints(java::_protocols.rest: "/location/station/{stationId}";)
         @Spring::_aspects.GetMapping
        updateLocation(
            @Spring::_aspects.PathVariable
            sync in stationId : long,
            @Spring::_aspects.RequestBody
            sync in locationData : map::v1.MapService.LocationCreation,
            @Spring::_aspects.ResponseEntity
            sync out location : map::v1.MapService.Location
        );
    }

    @endpoints(java::_protocols.rest: "/map";)
    interface LocationLookup {

        ---
        show location data for a given query string (used in web).
        
        ---
        @endpoints(java::_protocols.rest: "/";)
        @Spring::_aspects.GetMapping
        showMap(
            sync out "map/show"
        );
        ---
        Get location data for a given query string (used in web).
        @required query address string
        ---
        @endpoints(java::_protocols.rest: "/location";)
        @Spring::_aspects.GetMapping
        showMap(
            @Spring::_aspects.RequestParam
            sync in query : string,
            @Spring::_aspects.ResponseEntity
            sync out location : map.Locations
        );
    }

    deployment technology Eureka::_deployment.EurekaClient {
        service_name = "MAP-SERVICE";
        eureka_server_url = "http://eureka-server:8761/eureka";
        port = 8080;
    }
}
